.kapsayici{
    background-color:rgba(255, 255, 255, 0.465);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

}
.nav-item a{
    color:#827397;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
}
.nav-item a:hover{
    color:#FFA8A8;
}
.ayrac{
    font-size: 15px;
    margin: 0 20px;
    color:#827397;
}
.ust-kisim-sayfalar{
    background-image: url(resimler/bulut.jpg);
    height: 90vh;
    width: 100%; 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ust-kisim{
    background-image: url(resimler/bulut.jpg);
    height: 100vh;
    width: 100%; 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(130, 115, 151)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width:992px){
    .ayrac{
        display:none;
    }
    .kapsayici{
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
    .nav-item:hover{
        background-color: #F7F5F2;
    }
}
.bosluk{
    margin-top:100px;
}
.giriş{
    height:60px;
    background-color:#FBF8F1;
}
.tirnak{
    color:#7FB5FF;
    font-size: 36px;
}
.paragraf{
    font-size:20px;
}
.içerikler{
    background-color:#C4DDFF;
}
.kimim{
    background-color:#FBF8F1 ;
}
.profil img{
    border-radius: 100px;
}
.footer{
    background-color: #C4DDFF;
    height:300px;
}
.footer-sütun{
    height:300px;
}
.yuvarlak img{
    border-radius:100px;
}
.login{
    padding:40px 0 40px 0;
    background-color:#f5f5f5;
    width:320px;
    margin:auto;
    display: flex;
    align-items: center;
}
html,body{
    height:100%;
}
.form-control{
    position:relative;
    box-sizing:border-box;
}
.cv{
    background-color: #FBF8F1;
} 

